<div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">{{ entrada.nombre }}</h5>
      <p class="card-text">
        Fecha: {{ entrada.fecha }}<br>
        Precio: {{ entrada.precio }} €
        <button type="button" 
        class="btn btn-outline-primary">
         <a href="{% url 'editar_entrada' entrada.id %}">Editar
          <span class="bs_icon pencil"></span>
         </a>
        </button>
        <form action="{% url 'eliminar_entrada' entrada.id %}" method="post">
          {% csrf_token %}
          <button class="btn btn-danger" onclick="return eliminar();"type="submit">
            <span class="trash">Eliminar</span>
          </button>
        </form>
      </p>
    </div>
</div>