{% extends "estructura/principal.html" %}

{% block titulo %}
<title>Online</title>
{% endblock %}

{% block contenido %}
    <h1>ESTA ES LA PAGINA DE INICIO</h1>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Todas nuestas entradas</h2>
        <div class="row g-4">
            {% for inventario in vista_producto_cliente %}
              <div class="col-md-4">
                {% include 'producto/producto.html' with inventario=inventario %}
              </div>
            {% empty %}
              <div class="col-12 text-center">
                <div class="alert alert-warning">No hay ningúna entrada.</div>
              </div>
            {% endfor %}
          </div>
        </div>
{% endblock %}

