<!DOCTYPE html>
<html lang="es">
<head>
    {% block titulo %}
        <title>Mi Tenda Online</title>
    {% endblock %}

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
   
</head>
<body>
    {% include 'estructura/menu.html' %}
    
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}

    {% block contenido%}
    {% endblock %}

    {% include 'estructura/pie.html' %}

    {% bootstrap_javascript %}

</body>