<div class="card shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title text-primary">{{ cliente.usuario.username|capfirst }}</h5>
      
      {% if cliente.id == 1 %}
        <p class="card-text">👑 Eres el <strong>primer cliente</strong>, {{ cliente.usuario.username }}.</p>
      {% elif cliente.id == 2 %}
        <p class="card-text">🥈 Eres el <strong>segundo cliente</strong>, {{ cliente.usuario.username }}.</p>
      {% else %}
        <p class="card-text">🙂 No eres de los primeros, {{ cliente.usuario.username }}.</p>
      {% endif %}
    </div>
  </div>
  